.CurrentNoteInput {
  text-align: center;
  font-size: 1.5em;
  font-family: fantasy;
  font-weight: lighter;
  mix-blend-mode: difference;
  width: 100%;
  background-color: purple;
  min-width: 2em;
}

.CurrentNoteInput[type=range] {
  margin-right: .5em;
}

.CurrentNoteInput::placeholder {
  color: white;
  font-family: fantasy;
  font-weight: lighter;
}