.CurrentNoteInput {
  text-align: center;
  font-size: 1.5em;
  font-family: fantasy;
  font-weight: lighter;
  mix-blend-mode: difference;
  width: max(100%, 10em);
  margin-inline: .5em;
}

.CurrentNoteInput::placeholder {
  color: white;
  font-family: fantasy;
  font-weight: lighter;
}