.MidiPlayer {
  display: flex;
  background-color: #111;
  overflow: auto;
  height: 3.5em;
}

.MidiPlayerDownloadTabButton {
  margin-inline: 5px;
}

.MidiPlayer .MidiPlayerDownloadTabButton,
.MidiPlayer .Span {
  padding-inline: 5px;
  width: auto;
}

#InputFile {
  display: none;
}