.Piano .KeyButtonLastNote {
  color: greenyellow !important;
  background-color: cadetblue !important;
}

.Piano .KeyButtonActive,
.Piano .KeyButton:active {
  color: green !important;
  background-color: greenyellow !important;
}