.MidiPlayer {
  display: flex;
  background-color: black;
  overflow: auto;
  height: 3.5em;
}

.MidiPlayer > *:not(.CurrentNoteInput) {
  width: auto;
  padding-inline: 1em;
}

#InputFile {
  display: none;
}

@media (max-width: 45em) {
  .CurrentNoteInput[type=range] {
    display: none;
  }
}

@media (min-width: 45em) {
  .CurrentNoteInput[type=number] {
    width: auto;
  }
}